.infiniteScroll {
    overflow: hidden;
    -webkit-mask: linear-gradient(
    90deg, 
    transparent, 
    white 20%,
    white 80%,
    transparent
    );
    mask: linear-gradient(
        90deg, 
        transparent, 
        white 40%,
        white 60%,
        transparent
    );

    max-width: 500px;
}

.infiniteScroll_inner {
    animation: scrollAnimation 25s infinite linear;
    width: max-content;
}


.infiniteScroll_inner:has(li:hover){
    animation-play-state: paused;
}

.infiniteScroll_inner li {
    min-width: 6rem;
    transition: all;
}

.infiniteScroll_inner li:hover {
    scale: 1.05;
}

@keyframes scrollAnimation {
    to {
        transform: translateX(calc(-50% - 0.5rem));
    }
}